<!--HTML code that will be inherited!-->
<!DOCTYPE html>
<html>
    <head><title>My Web Page</title></head>
    <body>
        <!--Suppose everything else we need is same, except the body-->
        <!--We will start a block using block keyword, let's name it contnet-->
        <!--And then we will end the block-->
        <!--Let's use jinja2 for that-->
        <!-- <h1>Welcome to Creepy Corridor!</h1>
        <img src="https://media.tenor.com/bIiFxQ8N6qkAAAA1/michael-jackson-babjix.webp"> -->
        {% block content %}{% endblock %}
    </body>
</html>