<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <link rel="stylesheet" href="../static/style.css">
        <!--font-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap" rel="stylesheet">
    </head>
    <body>

        <div id="main">

            <div id="formcontainer">
                <form method="post">
                    <div id="formheader">
                        <h3>Login</h3>
                    </div>
                    <div id="input-fields">
                        <input type="email" placeholder="spongebob@gmail.com" required name="email" id="email-inp" class="inp-field">
                        <br>
                        <input type="password" placeholder="password here" required name="password" id="pass-inp" class="inp-field">
                    </div>
                    <div id="form-buttons">
                        <input type="reset" class="inp-btn" id="reset-btn">
                        <input type="submit" class="inp-btn" id="submit-btn">
                    </div>
                </form>
            </div> <!--formcontainer ends here-->

        </div>
    </body>
</html>