<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anime</title>
</head>
<body>
    <h2>Welcome to the anime page!</h2>
    <img src="https://images.imyfone.com/en/assets/program/ai-video-generator/anime-websites.png" width="700">

    <!--Using jinja2 to print anime names-->
    <div>
        <h3>Anime names:</h3>
        <ol>
        {% for anime in anime_list %}
            <li>
                {{anime}}
            </li>
        {% endfor %}
        </ol>
    </div>

</body>
</html>