<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <br><br>
    <div>
        <form method="post">
            <label for="email">Enter email id:</label>
            <input type="email" id="email" placeholder="Eg: akatsuki@gmail.com" required name="email-id">
            <br>
            <label for="pass">Enter password:</label>
            <input type="password" id="pass" placeholder="Password here" required name="password">

            <br>
            <input type="reset">
            <input type="submit">
            <button>Forgot password</button>
        </form>
    </div>
</body>
</html>